#login {
  margin: auto;
  background-color: white;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 50;
}
#login .text div {
  margin: 3% 0;
}

.more-info {
  font-size: .9em
}

#wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background-color: black;
}

#container {
  position: relative;
}

.hidden {
  display: none;
}

.grid {
  position: relative;
  z-index: 10;
}

.fadein {
  opacity: 1;
}

.grid-item, .mason_filler {
  position: relative;
  float: left;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  filter: grayscale(95%) brightness(35%);
}

.grid-item {
  /*filter: grayscale(100%) brightness(30%);*/
}

.mason_filler {
  /*filter: grayscale(100%) brightness(30%);*/
  /*background-color: green;*/
}


/* Safari 6.0 - 9.0 */


/*-webkit-filter: grayscale(100%) brightness(30%);
    filter: grayscale(100%) brightness(30%);*/

#cover_container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 25;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background: white;*/
}

#cover_background {
  margin: auto;
  height: 85vh;
  width: 85vh;
  background-color: #F3ECE2;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 300px 100px hsla(0, 0%, 0%, .75);
  overflow: hidden;
  opacity: 0;
  transition: opacity 3s ease-in-out 2s;
}
#previousCover{
  margin: auto;
  height: 83vh;
  width: 83vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#cover {
  height: 83vh;
  width: 83vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 0px 30px 5px hsla(0, 0%, 0%, .4);
  transition: background-image 1s ease-in-out;
  backface-visibility: hidden;
  overflow: hidden;
}

#spotify {
  margin: 2%;
  height: 3%;
  width: 3%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  opacity: .4;
  transition: opacity .5s ease-in-out;
}

#information {
  /*margin-top: 10%;*/
  background-color: white;
  z-index: 200;
}
#profileInfo {
  width: 100%;
  display: flex;
  align-items: center;
}
#profileDetails {
  padding-left: 50px;
}
#profileDetails button {
  margin-top: 20px;
}
.project-details:not(:last-child){
  margin: 10px 0px 10px 0;
}

#track-details {
  width: 100vw;
  margin: auto;
  color: darkgray;
  /*display: flex;*/
  /*background-color: blue;*/
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .8) 50%, rgba(0, 0, 0, .9) 100%);
  position: fixed;
  transform: translate(-50%, 0%);
  bottom: 0%;
  left: 50%;
  z-index: 45;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

#track-text {
  /*padding: 3% 0%;*/
  padding-top: 20%;
  padding-bottom: 2%;
  font-size: 2.5em;
  width: 100%;
  display: flex;
  /*justify-content: space-around;*/
  align-items: flex-start;
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

#track-text div {
  text-align: center;
  width: 33.33%;
}

#track-text a {
  color: darkgray;
  border-bottom: solid transparent;
  transition: border-color 1s ease-in-out;
}

#track-text a:hover {
  border-color: darkgray;

}

#controls {
  padding-bottom: 2%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.material-icons {
  font-size: 5em;
}
